/*
Specifies the margin, width, and background color of the website's wrapper. The wrapper defines the layout of the content, which 
includes the header and content tags.
*/
.wrapper
{
   margin: 0px auto;
   width: 100%;
   background-color: #000000;
}

/*
Specifies the float, width, background color, and position of the website header.
*/
.header
{
   float: left;
   width: 100%;
   background-color: #b21f29;
    position: relative;
}

/*
Specifies the float, width, and background color for the content of the website.
*/
.content
{
   float: left;
   width: 100%;
   background-color: #e8e7e7;
}

/*
Specifies the margin top, the float, width, and the background color of the footer.
*/
.footer
{
    margin-top: 355px;
   float: left;
   width: 100%;
   background-color: #ffffff;
}

/*
Specifies the width, padding, margin, font size, and background color of the website's body.
*/
body 
{
    width: 100%;
   padding: 0px;
   margin: 0px auto;
   font-size: 90%;
   background-color: #e8e7e7;
}

/*
Pads the map correctly
*/
.position
{
    padding: 200px;
}

/*
Positions relatively.
*/
.container{
    position: relative;
}

/*
Positions absolutely, sets the x y integers, and place it at z-index 1 to place below any dots placed on the map.
*/
.map{
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

/*
Positions CH dot as absolute, sets its x y coordinates, and sets the z-index so as the map is placed below the dot.
*/
.ch{
    position:absolute;
    top: 140px;
    left: 720px;
    z-index: 3;
}

/*
Positions GCC dot as absolute, sets its x y coordinates, and sets the z-index so as the map is placed below the dot.
*/
.gcc{
    position:absolute;
    top: 170px;
    left: 700px;
    z-index: 2;
}

/*
Positions GH dot as absolute, sets its x y coordinates, and sets the z-index so as the map is placed below the dot.
*/
.gh{
    position:absolute;
    top: 225px;
    left: 570px;
    z-index: 4;
}

/*
Positions SH dot as absolute, sets its x y coordinates, and sets the z-index so as the map is placed below the dot.
*/
.sh{
    position:absolute;
    top: 170px;
    left: 886px;
    z-index: 5;
}

/*
Positions EST dot as absolute, sets its x y coordinates, and sets the z-index so as the map is placed below the dot.
*/
.est{
    position:absolute;
    top: 203px;
    left: 808px;
    z-index: 6;
}

/*
Positions PHAC dot as absolute, sets its x y coordinates, and sets the z-index so as the map is placed below the dot.
*/
.phac{
    position:absolute;
    top: 345px;
    left: 334px;
    z-index: 7;
}

/*
Positions COHH dot as absolute, sets its x y coordinates, and sets the z-index so as the map is placed below the dot.
*/
.cohh{
    position:absolute;
    top: 170px;
    left: 788px;
    z-index: 8;
}

/*
Positions DA dot as absolute, sets its x y coordinates, and sets the z-index so as the map is placed below the dot.
*/
.da{
    position: absolute;
    top: 203px;
    left: 390px;
    z-index: 9;
}

/*
Positions GRH dot as absolute, sets its x y coordinates, and sets the z-index so as the map is placed below the dot.
*/
.grh{
    position: absolute;
    top: 377px;
    left: 482px;
    z-index: 10;
}

/*
Positions TCCW dot as absolute, sets its x y coordinates, and sets the z-index so as the map is placed below the dot.
*/
.tccw{
    position: absolute;
    top: 177px;
    left: 864px;
    z-index: 11;
}

/*
Positions MMTH dot as absolute, sets its x y coordinates, and sets the z-index so as the map is placed below the dot.
*/
.mmth{
    position: absolute;
    top: 347px;
    left: 455px;
    z-index: 12;
}

/*
Positions MCHC dot as absolute, sets its x y coordinates, and sets the z-index so as the map is placed below the dot.
*/
.mchc{
    position: absolute;
    top: 369px;
    left: 382px;
    z-index: 13;
}

/*
Positions IE dot as absolute, sets its x y coordinates, and sets the z-index so as the map is placed below the dot.
*/
.ie{
    position:absolute;
    top: 206px;
    left: 735px;
    z-index 14;
}

/*
Positions SS dot as absolute, sets its x y coordinates, and sets the z-index so as the map is placed below the dot.
*/
.ss{
    position:absolute;
    top: 265px;
    left: 284px;
    z-index 15;
}

/*
Positions AC dot as absolute, sets its x y coordinates, and sets the z-index so as the map is placed below the dot.
*/
.ac{
    position: absolute;
    top: 307px;
    left: 458px;
    z-index: 16;
}

/*
Positions GWH dot as absolute, sets its x y coordinates, and sets the z-index so as the map is placed below the dot.
*/
.gwh{
    position: absolute;
    top: 135px;
    left: 711px;
    z-index: 17;
}

/*
Positions FS dot as absolute, sets its x y coordinates, and sets the z-index so as the map is placed below the dot.
*/
.fs{
    position: absolute;
    top: 179px;
    left: 568px;
    z-index: 18;
}

/*
Positions HCIC dot as absolute, sets its x y coordinates, and sets the z-index so as the map is placed below the dot.
*/
.hcic{
    position: absolute;
    top: 298px;
    left: 590px;
    z-index: 19;
}

/*
Positions CRD dot as absolute, sets its x y coordinates, and sets the z-index so as the map is placed below the dot.
*/
.crd{
    position: absolute;
    top: 523px;
    left: 46px;
    z-index: 20;
    visibility: hidden;
}

/*
Positions MH dot as absolute, sets its x y coordinates, and sets the z-index so as the map is placed below the dot.
*/
.mh{
    position: absolute;
    top: 232px;
    left: 614px;
    z-index: 21;
    visibility: hidden;
}

/*
Positions TPH dot as absolute, sets its x y coordinates, and sets the z-index so as the map is placed below the dot.
*/
.tph{
    position: absolute;
    top: 341px;
    left: 410px;
    z-index: 22;
    visibility: hidden;
}

/*
Positions EBS dot as absolute, sets its x y coordinates, and sets the z-index so as the map is placed below the dot.
*/
.ebs{
    position: absolute;
    top: 212px;
    left: 875px;
    z-index: 23;
    visibility: hidden;
}